@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee8e0;
}

#pagina-selecionada a {
  color: #66cccc;
}

.nav-container {
  background-color: #0f1821;
  color: #fff;
  border-bottom: 10px solid #66cccc;
  padding: 15px 20px;
  box-shadow: black 1px 1px 5px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-left li,
.nav-right li {
  padding: 0 10px;
}

.nav-left li:hover {
  border-bottom: 4px solid #66cccc;
  transition: 0.s;
}

.nav-left li a,
.nav-right li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-left li a:hover {
  color: #66cccc;
  transition: 0.1s;
}

.btn-entrar {
  background-color: #0673AC;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.btn-iniciar {
  background-color: #20A349;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.btn-iniciar:hover {
  background-color: #1b8a3c;
}

.btn-entrar:hover {
  background-color: #055a89;
}
.footer-container{
  background-color: #0f1821;
  color: #fff;
  border-top: 10px solid #66cccc;
  padding: 15px 20px;
  box-shadow: black 1px 0px 5px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}
.footer-content ul{
  display: flex;
  gap: 100px;
  list-style: none;
}
/* Aplica layout flex em toda a página */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Faz o conteúdo expandir para empurrar o footer */
main {
  flex: 1;
}

/* Footer normal, mas sempre no final da página */
footer {
  background-color: #0d1d2e;
  color: white;
  padding: 20px;
  text-align: center;
}
